body {
		background-color: #f0ffff;
		background-size: 1000px 1000px;
	}

.signup {
		top: 55%;
		left: 50%;
		position: absolute;
		transform: translate(-50%,-50%);
}

.signup h3 {
		text-align: center;
		font-size: 40px;
		font-family: 'Concert One', cursive;
		color: #617c58;
}

.signup h5 {
		font-size: 20px;
		font-family: 'Concert One', cursive;
		color: #617c58;
}

.signup input {
		display: inline-block;
		width: 300px;
		height: 30px;
		padding: 10px;
		font-size: 15px;
		font-family: 'Concert One', cursive;
		background-color: black;
		border: 1px solid white;
		color: black;

}











